.content-container{
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-image > img{
    width: 500px;
    min-width: 500px;
    height: 300;
}

.content-title > h1{

}

.content-text{
    margin-top: 15px;

}

.content-text > p{
 color: rgb(161, 161, 161);
}

.nav-btn{
    margin-top: 15px;
}